.dropdown {
    width: 100%;
}

.btn-dropdown {
    width: inherit;
    background-color: #f5f5f5 !important;
    border-radius: 0 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    width: 100%;
    margin: 0px !important;
    border-radius: 0 !important;
}

.dropdown-menu.show {
    border: none;
    border-top: solid 1px #cfcfcf !important;
    background-color: #f5f5f5 !important;
}

.dropdown-item {
    color: #7f7f7f !important;
    &:focus,
    &:hover {
        color: #7f7f7f;
        text-decoration: none;
        background-color: #cfcfcf !important;
    }
}

.dropdown-user {
    width: fit-content !important;
}

#dropdown-user {
    width: 20px;
    background-color: transparent !important;
    padding: 0px;
    margin: 0px 0px 0px 5px;
    img {
        max-width: 0.9rem;
        padding: 0 0 0.2rem;
        vertical-align: mid dle;
        border-style: none;
    }
}

#dropdown-menu-user {
    left: -142px !important;
} 