.header-span {
    color: #9f9f9f;
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.dropdown-span {
    color: #7f7f7f !important;
    text-transform: uppercase;
}

.content-info-nom {
    color: #757575;
}

